modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
integrations = ["github:1.0.0"]

[userenv]

[userenv.shared]
TURSO_DATABASE_URL = "libsql://afiliadosao-ravicarlos9091.aws-us-east-1.turso.io"
TURSO_AUTH_TOKEN = "eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzMwMDA5MDksImlkIjoiMDE5Y2NmMDgtMTkwMS03ZmQyLTg2ZmItMDY5NjIzZjY4MzdjIiwicmlkIjoiOTdmZmUwMzctMjc0NC00NDMzLThjMzAtYjNkOGYwYTZkODhhIn0.f_zWhxGFQOEHIETkOh3EqcUAY08QvjXF8zHzMFp5iC3329RFgKpBIcyuFiBt1kMaFF49Tvl98MFN8X3Jmr3QDw"
CLOUDINARY_CLOUD_NAME = "dhnfyzi0q"
CLOUDINARY_API_KEY = "247929518979183"
CLOUDINARY_API_SECRET = "tG9pXIQs-hL5SyC--mxnFFQVlLs"
